// standard phone
.page-for-form{
    form{
        margin: 0 auto;
        text-align: left;
        width: 100%;
        max-width: 700px;
        box-shadow: unset;
        padding: 20px 30px;
        position: relative;
        height: auto;
        margin-top: 62px;
        .headingp{
            margin-bottom: 7px;
        }
        // heading
        .heading{
            color: #003A65;
            font-size: 34px;
            font-weight: 400;
            margin-top: 6px;
        }
        // inputs and labels
        .inputs-labels{
            // input & textarea
            input, textarea{
                border-radius: 4px;
                padding: 12px;
                outline: none;
                color: #183B56;
                font-size: 13px;
                width: 100%;
                max-width: 500px;
                height: 50px;
                cursor: pointer;
                background: transparent;
                border: none;
                background: rgba(170,170,170,0.1);
                &::placeholder{
                    color: rgba(24, 59, 86, 0.671);
                    font-size: 15px;
                }
                &:hover{
                    background: rgba(140,140,140,0.1);
                }
                &:focus, &:active{
                    cursor: text;
                    background: transparent;
                }
            }
            // textarea
            textarea{
                height: 100px;
                min-height: 70px;
                max-height: 150px;
            }
        }
        // form actions
        .form-actions{
            margin-top: 25px;
            // button
            button{
                width: 220px;
                height: 55px;
                background: #003A65;
                color: #FAF9F6;
                font-size: 16px;
                border: none;
                outline: none;
                border-radius: 4px;
                transition: .4s;
                &:hover{
                    transform: scale(1.05);
                    background: #02487e;
                }
            }
        }
    }
}

@media only screen and (min-device-width: 1145px) {
    form{
        margin: unset;
        text-align: center;
        width: 100%;
        box-shadow: unset;
        padding: 20px 15px;
        position: relative;
        height: auto;
        margin-top: 50px;
    }
}