{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'scss/pages/about.css' %}">

<div class="page">
    <div class="about-us">
        <div class="cover">
            <h1>Om oss</h1>
            <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro autem sapiente quam eius neque dignissimos minus atque explicabo nisi error, debitis tenetur, sunt velit ipsam obcaecati illo dolorum magni ipsa?</p>
        </div>
        <br>
        <br>
        <center>
            <h1>Kan være mer content her</h1>
        </center>
    </div>
</div>
{% endblock %}