.cover {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  position: relative;
  padding-top: 0;
  display: block;
  padding: 95px 30px;
  padding-bottom: 50px;
  background: linear-gradient(to top right, #E7FDFF, white);
}
.cover .scroll-downs {
  display: none;
}
.cover .cover-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  filter: brightness(58%);
  -o-object-fit: cover;
     object-fit: cover;
}
.cover .content {
  width: 100%;
  opacity: 1;
  transform: translateX(0);
}
.cover .content .text {
  text-align: center;
}
.cover .content .text h1 {
  position: relative;
  display: block;
  color: #003A65;
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 10px;
}
.cover .content .text p {
  color: #003A65;
  font-size: 18px;
}

.order {
  width: 100%;
  max-width: 430px;
  height: auto;
  text-align: center;
  padding-inline: 15px;
  margin: 0 auto;
}
.order form {
  background: linear-gradient(to bottom right, #003A65, #00599c);
  border-radius: 4px;
  padding: 25px 5px;
}
.order form .form-heading {
  color: #FAF9F6;
  font-size: 24px;
  font-weight: 600;
}
.order form .step {
  width: 100%;
  height: auto;
  padding-inline: 20px;
  padding-top: 22px;
  padding-bottom: 8px;
  text-align: center;
  display: block;
}
.order form .step .step-heading {
  color: #FAF9F6;
  font-size: 22px;
}
.order form .step .paragraph {
  padding-bottom: 16px;
  font-size: 17px;
  padding-inline: 15px;
  color: #FAF9F6;
}
.order form .step .inputs {
  width: 100%;
  text-align: center;
}
.order form .step .inputs input {
  border-radius: 25px;
  width: 100%;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4666666667);
  outline: none;
  display: block;
  margin-block: 35px;
  padding: 12px;
  font-size: 16px;
  color: #FAF9F6;
}
.order form .step .inputs input::-moz-placeholder {
  color: #FAF9F6;
  opacity: 0.6;
}
.order form .step .inputs input:-ms-input-placeholder {
  color: #FAF9F6;
  opacity: 0.6;
}
.order form .step .inputs input::placeholder {
  color: #FAF9F6;
  opacity: 0.6;
}
.order form .step .inputs input:first-child {
  margin-top: 0;
}
.order form .step .inputs input:last-child {
  margin-bottom: 0;
}
.order form .step .step-actions {
  margin-top: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 7px;
}
.order form .step .step-actions i {
  color: #FAF9F6;
  font-size: 30px;
  padding: 10px;
  margin: -10px;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 600;
}
.order form .step .step-actions i span {
  padding-inline: 5px;
  font-size: 14px;
  position: absolute;
}
.order form .step .step-actions i span.next {
  left: -45px;
}
.order form .step .step-actions i span.last {
  right: -55px;
}
.order form #stepOne #toLastStep {
  opacity: 0 !important;
  pointer-events: none;
}
.order form #stepOne #stepOneError {
  display: none;
}
.order form #stepOne #stepOneError.active {
  display: block;
}
.order form #stepOne.active {
  display: block;
}
.order form #stepOne.hidden {
  display: none;
}
.order form #stepTwo {
  display: none;
}
.order form #stepTwo #stepTwoError {
  display: none;
}
.order form #stepTwo #stepTwoError.active {
  display: block;
}
.order form #stepTwo .inputs {
  margin-top: 5px;
}
.order form #stepTwo .inputs .hidden_checkbox {
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  position: absolute;
}
.order form #stepTwo .inputs #teliaCheckbox {
  background: transparent;
  transition: 0.2s;
}
.order form #stepTwo .inputs #teliaCheckbox.clicked {
  transform: scale(1.05);
  background: rgba(220, 220, 220, 0.1) !important;
}
.order form #stepTwo .inputs #telenorCheckbox {
  background: transparent;
  transition: 0.2s;
}
.order form #stepTwo .inputs #telenorCheckbox.clicked {
  transform: scale(1.05);
  background: rgba(220, 220, 220, 0.1) !important;
}
.order form #stepTwo .inputs #altiboxCheckbox {
  background: transparent;
  transition: 0.2s;
}
.order form #stepTwo .inputs #altiboxCheckbox.clicked {
  transform: scale(1.05);
  background: rgba(220, 220, 220, 0.1) !important;
}
.order form #stepTwo .checkbox {
  width: 100%;
  padding: 15px 10px;
  border-radius: 30px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4666666667);
  text-align: center;
  position: relative;
  margin-block: 35px;
}
.order form #stepTwo .checkbox:first-child {
  margin-top: 0;
}
.order form #stepTwo .checkbox:last-child {
  margin-bottom: 0;
}
.order form #stepTwo .checkbox .supl-logo {
  width: 39px;
  height: auto;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.order form #stepTwo .checkbox .name {
  font-size: 18px;
  transform: translateX(-18px) translateY(3px);
}
.order form #stepTwo .checkbox.telia .name {
  color: #FAF9F6;
}
.order form #stepTwo .checkbox.telenor .name {
  color: #FAF9F6;
}
.order form #stepTwo .checkbox.altibox .name {
  color: #FAF9F6;
}
.order form #stepTwo .checkbox.altibox .supl-logo {
  width: 53px;
}
.order form #stepTwo.active {
  display: block;
}
.order form #stepTwo.hidden {
  display: none;
}
.order form #stepThree {
  display: none;
}
.order form #stepThree #stepThreeError {
  display: none;
}
.order form #stepThree #stepThreeError.active {
  display: block;
}
.order form #stepThree.active {
  display: block;
}
.order form #stepThree.hidden {
  display: none;
}
.order form #stepFour {
  display: none;
}
.order form #stepFour button {
  width: 80%;
  color: #003A65;
  padding: 15px;
  background: #E7FDFF;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 400;
}
.order form #stepFour button:hover {
  transform: scale(1.1);
}
.order form #stepFour #stepFourError {
  display: none;
}
.order form #stepFour #stepFourError.active {
  display: block;
}
.order form #stepFour .hidden_checkbox {
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  position: absolute;
}
.order form #stepFour .checkbox {
  width: 100%;
  padding: 15px 10px;
  border-radius: 30px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4666666667);
  text-align: center;
  position: relative;
  margin-block: 35px;
  transition: 0.2s;
}
.order form #stepFour .checkbox i {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  color: #FAF9F6;
  font-size: 24px;
}
.order form #stepFour .checkbox:first-child {
  margin-top: 0;
}
.order form #stepFour .checkbox:last-child {
  margin-bottom: 0;
}
.order form #stepFour .checkbox.clicked {
  transform: scale(1.05);
  background: rgba(220, 220, 220, 0.1) !important;
}
.order form #stepFour .checkbox .name {
  font-size: 18px;
  transform: translateX(-18px) translateY(3px);
  color: #FAF9F6;
}
.order form #stepFour.active {
  display: block;
}
.order form #stepFour.hidden {
  display: none;
}

.why-us {
  margin-top: 60px;
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom right, #003A65, #00599c);
}
.why-us .content {
  padding: 45px 30px;
}
.why-us .content .text .headingp {
  color: #FAF9F6;
}
.why-us .content .text h1 {
  color: rgba(250, 249, 246, 0.937254902);
  font-size: 32px;
  font-weight: 400;
  margin-top: 6px;
  transform: translateX(-2px);
}

.what-we-do {
  margin-top: 30px;
  width: 100%;
  height: auto;
}
.what-we-do .content {
  padding: 45px 30px;
}
.what-we-do .content .text h1 {
  color: #003A65;
  font-size: 32px;
  font-weight: 400;
  margin-top: 6px;
  transform: translateX(-2px);
}

.process {
  margin-top: 80px;
  width: 100%;
  height: auto;
}
.process .content {
  padding-inline: 30px;
}
.process .content .text h1 {
  color: #003A65;
  font-size: 34px;
  font-weight: 400;
  margin-top: 6px;
  transform: translateX(-2px);
}
.process .content .cards {
  width: 100%;
  height: auto;
  margin-top: 38px;
}
.process .content .cards .card {
  border: none;
  background: transparent;
  margin-bottom: 62px;
}
.process .content .cards .card:last-child {
  margin-bottom: 0;
}
.process .content .cards .card img {
  width: 100%;
  height: auto;
  filter: brightness(90%);
  border-radius: 12px;
}
.process .content .cards .card .card-text {
  margin-top: 10px;
  padding-left: 1px;
}
.process .content .cards .card .card-text h1 {
  font-size: 22px;
  color: #003A65;
  font-weight: 700;
}

@media only screen and (min-device-width: 1150px) {
  .cover {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    min-height: 570px;
    max-height: 630px;
    background: linear-gradient(to right, #E7FDFF, white);
  }
  .cover .scroll-downs {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    display: block;
    width: 34px;
    height: 55px;
    z-index: 10000;
  }
  .cover .scroll-downs .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid transparent;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .cover .scroll-downs .scroller {
    width: 3px;
    height: 20px;
    border-radius: 25%;
    background-color: #fff;
    -webkit-animation-name: scroll;
            animation-name: scroll;
    -webkit-animation-duration: 2.2s;
            animation-duration: 2.2s;
    -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
            animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes scroll {
    0% {
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(25px);
      opacity: 0;
    }
  }
  @keyframes scroll {
    0% {
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(25px);
      opacity: 0;
    }
  }
  .cover .content {
    padding-inline: 80px;
    padding-bottom: 10px;
    padding-top: 150px;
  }
  .cover .content .text {
    position: relative;
    text-align: left;
  }
  .cover .content .text h1 {
    color: #003A65;
    font-size: 46px;
    margin-bottom: 10px;
  }
  .cover .content .text p {
    color: #003A65;
    font-size: 18px;
    width: 380px;
  }
  .order {
    width: 100%;
    max-width: 430px;
    height: auto;
    text-align: center;
    padding-inline: 15px;
    margin: 0 auto;
    position: absolute;
    top: 125px;
    right: 80px;
  }
  .order form {
    background: linear-gradient(to bottom right, #003A65, #00599c);
    border-radius: 4px;
    background: #d6fbff;
    padding: 25px 5px;
  }
  .order form .form-heading {
    color: #003A65;
    font-size: 24px;
    font-weight: 600;
  }
  .order form .step {
    width: 100%;
    height: auto;
    padding-inline: 20px;
    padding-top: 22px;
    padding-bottom: 8px;
    text-align: center;
    display: block;
  }
  .order form .step .paragraph {
    padding-bottom: 16px;
    font-size: 17px;
    padding-inline: 15px;
    color: #003A65;
  }
  .order form .step .inputs {
    width: 100%;
    text-align: center;
  }
  .order form .step .inputs input {
    border-radius: 25px;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 1px solid rgba(0, 57, 101, 0.5333333333);
    outline: none;
    display: block;
    margin-block: 35px;
    padding: 12px;
    font-size: 16px;
    color: #003A65;
    cursor: pointer;
  }
  .order form .step .inputs input::-moz-placeholder {
    color: #003A65;
    opacity: 0.6;
  }
  .order form .step .inputs input:-ms-input-placeholder {
    color: #003A65;
    opacity: 0.6;
  }
  .order form .step .inputs input::placeholder {
    color: #003A65;
    opacity: 0.6;
  }
  .order form .step .inputs input:hover {
    background: #eefdff;
  }
  .order form .step .inputs input:active, .order form .step .inputs input:focus {
    background: transparent;
    border-width: 2px;
  }
  .order form .step .inputs input:first-child {
    margin-top: 0;
  }
  .order form .step .inputs input:last-child {
    margin-bottom: 0;
  }
  .order form .step .step-actions {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 7px;
  }
  .order form .step .step-actions i {
    color: #003A65;
    font-size: 30px;
    padding: 10px;
    margin: -10px;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 600;
  }
  .order form .step .step-actions i span {
    padding-inline: 5px;
    font-size: 14px;
    position: absolute;
  }
  .order form .step .step-actions i span.next {
    left: -45px;
  }
  .order form .step .step-actions i span.last {
    right: -55px;
  }
  .order form #stepOne #toLastStep {
    opacity: 0 !important;
    pointer-events: none;
  }
  .order form #stepOne #stepOneError {
    display: none;
  }
  .order form #stepOne #stepOneError.active {
    display: block;
  }
  .order form #stepOne.active {
    display: block;
  }
  .order form #stepOne.hidden {
    display: none;
  }
  .order form #stepTwo {
    display: none;
  }
  .order form #stepTwo #stepTwoError {
    display: none;
  }
  .order form #stepTwo #stepTwoError.active {
    display: block;
  }
  .order form #stepTwo .inputs {
    margin-top: 5px;
  }
  .order form #stepTwo .inputs .hidden_checkbox {
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    position: absolute;
  }
  .order form #stepTwo .inputs #teliaCheckbox {
    background: transparent;
    transition: 0.2s;
  }
  .order form #stepTwo .inputs #teliaCheckbox.clicked {
    transform: scale(1.05);
    background: rgba(140, 140, 140, 0.1) !important;
  }
  .order form #stepTwo .inputs #telenorCheckbox {
    background: transparent;
    transition: 0.2s;
  }
  .order form #stepTwo .inputs #telenorCheckbox.clicked {
    transform: scale(1.05);
    background: rgba(140, 140, 140, 0.1) !important;
  }
  .order form #stepTwo .inputs #altiboxCheckbox {
    background: transparent;
    transition: 0.2s;
  }
  .order form #stepTwo .inputs #altiboxCheckbox.clicked {
    transform: scale(1.05);
    background: rgba(140, 140, 140, 0.1) !important;
  }
  .order form #stepTwo .checkbox {
    width: 100%;
    padding: 15px 10px;
    border-radius: 30px;
    outline: none;
    border: 1px solid rgba(0, 57, 101, 0.5333333333);
    text-align: center;
    position: relative;
    margin-block: 35px;
  }
  .order form #stepTwo .checkbox:first-child {
    margin-top: 0;
  }
  .order form #stepTwo .checkbox:last-child {
    margin-bottom: 0;
  }
  .order form #stepTwo .checkbox .supl-logo {
    width: 39px;
    height: auto;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
  }
  .order form #stepTwo .checkbox .name {
    font-size: 18px;
    transform: translateX(-18px) translateY(3px);
  }
  .order form #stepTwo .checkbox.telia .name {
    color: #990AE3;
  }
  .order form #stepTwo .checkbox.telenor .name {
    color: #00AEFE;
  }
  .order form #stepTwo .checkbox.altibox .name {
    color: #FF271C;
  }
  .order form #stepTwo .checkbox.altibox .supl-logo {
    width: 53px;
  }
  .order form #stepTwo.active {
    display: block;
  }
  .order form #stepTwo.hidden {
    display: none;
  }
  .order form #stepThree {
    display: none;
  }
  .order form #stepThree #stepThreeError {
    display: none;
  }
  .order form #stepThree #stepThreeError.active {
    display: block;
  }
  .order form #stepThree.active {
    display: block;
  }
  .order form #stepThree.hidden {
    display: none;
  }
  .order form #stepFour {
    display: none;
  }
  .order form #stepFour button {
    width: 80%;
    color: #FAF9F6;
    padding: 15px;
    background: #003A65;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 400;
  }
  .order form #stepFour button:hover {
    transform: scale(1.1);
  }
  .order form #stepFour #stepFourError {
    display: none;
  }
  .order form #stepFour #stepFourError.active {
    display: block;
  }
  .order form #stepFour .hidden_checkbox {
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    position: absolute;
  }
  .order form #stepFour .checkbox {
    width: 100%;
    padding: 15px 10px;
    border-radius: 30px;
    outline: none;
    border: 1px solid rgba(0, 57, 101, 0.5333333333);
    text-align: center;
    position: relative;
    margin-block: 35px;
    transition: 0.2s;
  }
  .order form #stepFour .checkbox i {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    color: #003A65;
    font-size: 24px;
  }
  .order form #stepFour .checkbox:first-child {
    margin-top: 0;
  }
  .order form #stepFour .checkbox:last-child {
    margin-bottom: 0;
  }
  .order form #stepFour .checkbox.clicked {
    transform: scale(1.05);
    background: rgba(140, 140, 140, 0.1) !important;
  }
  .order form #stepFour .checkbox .name {
    font-size: 18px;
    transform: translateX(-18px) translateY(3px);
    color: #003A65;
  }
  .order form #stepFour.active {
    display: block;
  }
  .order form #stepFour.hidden {
    display: none;
  }
  .process {
    margin-top: 0;
    padding-top: 135px;
    width: 100%;
    height: auto;
    background: linear-gradient(to top right, #E7FDFF, #E7FDFF, white);
  }
  .process .content {
    padding-inline: 40px;
  }
  .process .content .text {
    text-align: center;
  }
  .process .content .text .headingp {
    font-size: 14px;
  }
  .process .content .text h1 {
    color: #003A65;
    font-size: 39px;
    font-weight: 400;
    margin-top: 6px;
    transform: translateX(0);
  }
  .process .content .cards {
    width: 100%;
    height: auto;
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .process .content .cards .card {
    border: none;
    background: transparent;
    margin-inline: 20px;
    margin-bottom: 0;
  }
  .process .content .cards .card img {
    width: 100%;
    max-width: 380px;
    height: auto;
    filter: brightness(90%);
    border-radius: 12px;
  }
  .process .content .cards .card .card-text {
    margin-top: 10px;
    padding-left: 1px;
  }
  .process .content .cards .card .card-text h1 {
    font-size: 22px;
    color: #003A65;
    font-weight: 700;
  }
  .process .content .cards .card .card-text .paragraph {
    max-width: 400px;
  }
}
@media only screen and (min-device-width: 1450px) {
  .process {
    margin-top: 125px;
    width: 100%;
    height: auto;
  }
  .process .content {
    padding-inline: 40px;
  }
  .process .content .text {
    text-align: center;
  }
  .process .content .text .headingp {
    font-size: 14px;
  }
  .process .content .text h1 {
    color: #003A65;
    font-size: 39px;
    font-weight: 400;
    margin-top: 6px;
    transform: translateX(0);
  }
  .process .content .cards {
    width: 100%;
    height: auto;
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .process .content .cards .card {
    border: none;
    background: transparent;
    margin-inline: 60px;
    margin-bottom: 0;
  }
  .process .content .cards .card img {
    width: 100%;
    max-width: 380px;
    height: auto;
    filter: brightness(90%);
    border-radius: 12px;
  }
  .process .content .cards .card .card-text {
    margin-top: 10px;
    padding-left: 1px;
  }
  .process .content .cards .card .card-text h1 {
    font-size: 22px;
    color: #003A65;
    font-weight: 700;
  }
  .process .content .cards .card .card-text .paragraph {
    max-width: 400px;
  }
}
@media only screen and (min-device-width: 1550px) {
  .process {
    margin-top: 125px;
    width: 100%;
    height: auto;
  }
  .process .content {
    padding-inline: 40px;
  }
  .process .content .text {
    text-align: center;
  }
  .process .content .text .headingp {
    font-size: 14px;
  }
  .process .content .text h1 {
    color: #003A65;
    font-size: 39px;
    font-weight: 400;
    margin-top: 6px;
    transform: translateX(0);
  }
  .process .content .cards {
    width: 100%;
    height: auto;
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .process .content .cards .card {
    border: none;
    background: transparent;
    margin-inline: 95px;
    margin-bottom: 0;
  }
  .process .content .cards .card img {
    width: 100%;
    max-width: 380px;
    height: auto;
    filter: brightness(90%);
    border-radius: 12px;
  }
  .process .content .cards .card .card-text {
    margin-top: 10px;
    padding-left: 1px;
  }
  .process .content .cards .card .card-text h1 {
    font-size: 22px;
    color: #003A65;
    font-weight: 700;
  }
  .process .content .cards .card .card-text .paragraph {
    max-width: 400px;
  }
}/*# sourceMappingURL=base.css.map */