// Cover
.cover{
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom right, #E7FDFF, #E7FDFF, #f9ffff,);
    padding-top: 70px;
    // Content
    .content{
        padding: 40px 30px 0 30px;
        // Text
        .text{
            text-align: left;
            h1{
                color: #003A65;
                font-size: 36px;
                font-weight: 800;
                margin-bottom: 10px;
                text-shadow: -1px #003A65;
                span{
                    background: #003A65;
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    transform: translateX(8px) translateY(2px);
                    border-radius: 100%;
                }
            }
            p{
                font-size: 17px;
            }
        }
        // Cover CTAS
        .cover-actions{
            width: auto;
            height: auto;
            margin-top: 30px;
            a{
                margin-block: 30px;
                display: block;
                font-size: 17px;
                text-decoration: none;
                transition: .4s;
                background: #003A65;
                color: #FAF9F6 !important;
                width: 200px;
                border-radius: 4px;
                padding: 12px 18px;
                text-align: center;
                // First button
                &:first-child{
                    margin-top: 0;
                }
                // When button clicked / hover
                &:active, &:hover{
                    transform: scale(1.1);
                    background: #054372;
                }
                
            }
        }
    }
}