.cover {
  height: 470px;
  width: 100%;
  position: relative;
  padding-top: 70px;
  display: block;
}
.cover .cover-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  filter: brightness(60%);
  -o-object-fit: cover;
     object-fit: cover;
}
.cover .content {
  padding: 30px 30px 0 30px;
  width: 100%;
}
.cover .content .text {
  text-align: left;
}
.cover .content .text h1 {
  position: relative;
  display: block;
  color: #FAF9F6;
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 10px;
}
.cover .content .text p {
  color: #FAF9F6;
  font-size: 18px;
}
.cover .content .cover-actions {
  width: auto;
  height: auto;
  margin-top: 30px;
  position: relative;
}
.cover .content .cover-actions a {
  display: block;
  font-size: 17px;
  text-decoration: none;
  transition: 0.4s;
  width: 220px;
  border-radius: 4px;
  padding: 13px;
  text-align: center;
}
.cover .content .cover-actions a.primary {
  background: transparent;
  color: #FAF9F6 !important;
  border: 1px solid #FAF9F6;
  background: rgba(180, 180, 180, 0.2);
}
.cover .content .cover-actions a.primary:active, .cover .content .cover-actions a.primary:hover {
  transform: scale(1.1);
}

.process {
  margin-top: 75px;
  width: 100%;
  height: auto;
}
.process .content {
  padding-inline: 30px;
}
.process .content .text h1 {
  color: #003A65;
  font-size: 34px;
  font-weight: 400;
  margin-top: 6px;
  transform: translateX(-2px);
}
.process .content .cards {
  width: 100%;
  height: auto;
  margin-top: 38px;
}
.process .content .cards .card {
  border: none;
  background: transparent;
  margin-bottom: 62px;
}
.process .content .cards .card:last-child {
  margin-bottom: 0;
}
.process .content .cards .card img {
  width: 100%;
  height: auto;
  filter: brightness(90%);
  border-radius: 12px;
}
.process .content .cards .card .card-text {
  margin-top: 10px;
  padding-left: 1px;
}
.process .content .cards .card .card-text h1 {
  font-size: 22px;
  color: #003A65;
  font-weight: 700;
}

@media only screen and (min-device-width: 1150px) {
  .mob-cover {
    display: none;
  }
  .des-cover {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    height: 640px;
  }
  .des-cover .content {
    padding: 170px 40px;
  }
  .des-cover .content .cover-img {
    width: 100%;
    filter: brightness(75%);
    position: absolute;
    left: 0;
    top: 0;
  }
  .des-cover .content .text {
    position: relative;
    text-align: center;
  }
  .des-cover .content .text h1 {
    color: #FAF9F6;
    font-size: 42px;
  }
  .des-cover .content .text p {
    color: #FAF9F6;
    font-size: 18px;
  }
  .des-cover .content .cover-actions {
    width: auto;
    height: auto;
    margin-top: 35px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .des-cover .content .cover-actions a {
    margin-inline: 32px;
    display: block;
    font-size: 17px;
    text-decoration: none;
    transition: 0.4s;
    width: 220px;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  .des-cover .content .cover-actions a.primary {
    background: #003A65;
    color: #FAF9F6 !important;
    margin-top: 0;
  }
  .des-cover .content .cover-actions a.primary:active, .des-cover .content .cover-actions a.primary:hover {
    transform: scale(1.1);
    background: #02477c;
  }
  .des-cover .content .cover-actions a.secondary {
    background: transparent;
    color: #FAF9F6 !important;
    border: 2px solid #FAF9F6;
  }
  .des-cover .content .cover-actions a.secondary:active, .des-cover .content .cover-actions a.secondary:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.0941176471);
  }
}/*# sourceMappingURL=base.css.map */