// Cover
.cover{
    height: max-content;
    width: 100%;
    position: relative;
    padding-top: 0;
    display: block;
    padding: 85px 30px;
    // Mouse scroll
    .scroll-downs{
        display: none;
    }
    // Cover image
    .cover-img{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        filter: brightness(58%);
        object-fit: cover;
    }
    // Content
    .content{
        width: 100%;
        opacity: 1;
        transform: translateX(0);
        // Text
        .text{
            text-align: left;
            h1{
                position: relative;
                display: block;
                color: #FAF9F6;
                font-size: 38px;
                font-weight: 400;
                margin-bottom: 10px;
            }
            p{
                color: #FAF9F6;
                font-size: 18px;
            }
        }
    }
}

// Order
.order{
    width: 100%;
    height: auto;
    text-align: center;
    padding-inline: 15px;
    margin-top: 20px;
    // Form
    form{
        background: linear-gradient(to bottom right, #003A65, #00599c);
        border-radius: 4px;
        padding: 25px 5px;
        .form-heading{
            color: #FAF9F6;
            font-size: 24px;
            font-weight: 600;
        }
        // Step
        .step{
            width: 100%;
            height: auto;
            padding-inline: 20px;
            padding-top: 22px;
            padding-bottom: 8px;
            text-align: center;
            display: block;
            .step-heading{
                color: #FAF9F6;
                font-size: 22px;
            }
            .paragraph{
                padding-bottom: 16px;
                font-size: 17px;
                padding-inline: 15px;
                color: #FAF9F6;
            }
            .inputs{
                width: 100%;
                text-align: center;
                input{
                    border-radius: 25px;
                    width: 100%;
                    height: 50px;
                    background: transparent;
                    border: 1px solid #ffffff77;
                    outline: none;
                    display: block;
                    margin-block: 35px;
                    padding: 12px;
                    font-size: 16px;
                    color: #FAF9F6;
                    &::placeholder{
                        color: #FAF9F6;
                        opacity: 0.6;
                    }
                    &:first-child{
                        margin-top: 0;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            // Actions
            .step-actions{
                margin-top: 33px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-inline: 7px;
                i{
                    color: #FAF9F6;
                    font-size: 30px;
                    padding: 10px;
                    margin: -10px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    font-weight: 600;
                    span{
                        padding-inline: 5px;
                        font-size: 14px;
                        position: absolute;
                        &.next{
                            left: -45px;
                        }
                        &.last{
                            right: -55px;
                        }
                    }
                }
            }
        }

        // Step one
        #stepOne{
           #toLastStep{
            opacity: 0 !important;
            pointer-events: none;
           }
           #stepOneError{
            display: none;
            &.active{
                display: block;
            }
           }
           &.active{
            display: block;
            }
           &.hidden{
            display: none;
           }
        }

        // Step two
        #stepTwo{
            display: none;
            #stepTwoError{
                display: none;
                &.active{
                    display: block;
                }
               }
            .inputs{
                margin-top: 5px;
                .hidden_checkbox{
                    opacity: 0;
                    pointer-events: none;
                    width: 0;
                    height: 0;
                    position: absolute;
                }
                // Checkboxes
                #teliaCheckbox{
                    background: transparent;
                    transition: .2s;
                    &.clicked{
                        transform: scale(1.05);
                        background: rgba(220, 220, 220, 0.1) !important;
                    }
                }
                #telenorCheckbox{
                    background: transparent;
                    transition: .2s;
                    &.clicked{
                        transform: scale(1.05);
                        background: rgba(220, 220, 220, 0.1) !important;
                    }
                }
                #altiboxCheckbox{
                    background: transparent;
                    transition: .2s;
                    &.clicked{
                        transform: scale(1.05);
                        background: rgba(220, 220, 220, 0.1) !important;
                    }
                }
            }
            .checkbox{
                width: 100%;
                padding: 15px 10px;
                border-radius: 30px;
                outline: none;
                border: 1px solid #ffffff77;
                text-align: center;
                position: relative;
                margin-block: 35px;
                &:first-child{
                    margin-top: 0;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                .supl-logo{
                    width: 39px;
                    height: auto;
                    position: absolute;
                    right: 25px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .name{
                    font-size: 18px;
                    transform: translateX(-18px) translateY(3px);
                }
                // Telia
                &.telia{
                    .name{
                        color: #FAF9F6;
                    }
                }
                // Telenor
                &.telenor{
                    .name{
                        color: #FAF9F6;
                    }
                }
                // Altibox
                &.altibox{
                    .name{
                        color: #FAF9F6;
                    }
                    .supl-logo{
                        width: 53px;
                    }
                }
            }
            &.active{
                display: block;
            }
            &.hidden{
                display: none;
            }
        }

        // Step three
        #stepThree{
            display: none;
            &.active{
                display: block;
                }
               &.hidden{
                display: none;
               }
        }
        #stepFour{
            
        }
    }
}

// Why us
.why-us{
    margin-top: 60px;
    width: 100%;
    height: auto;
    // Content
    .content{
        padding-inline: 30px;
        // Text
        .text{
            h1{
                color: #003A65;
                font-size: 32px;
                font-weight: 400;
                margin-top: 6px;
                // M책tte skrive det her pgav den var ikke lina bra
                transform: translateX(-2px);
                // //
            }
        }
    }
}

// What we do
.what-we-do{
    margin-top: 65px;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom right, #003A65, #00599c);
    // Content
    .content{
        padding: 45px 30px;
        // Text
        .text{
            .headingp{
                color: #FAF9F6;
            }
            h1{
                color: #faf9f6ef;
                font-size: 32px;
                font-weight: 400;
                margin-top: 6px;
                // M책tte skrive det her pgav den var ikke lina bra
                transform: translateX(-2px);
                // //
            }
        }
    }
}

// Process
.process{
    margin-top: 80px;
    width: 100%;
    height: auto;
    // Content
    .content{
        padding-inline: 30px;
        // Text
        .text{
            h1{
                color: #003A65;
                font-size: 34px;
                font-weight: 400;
                margin-top: 6px;
                // M책tte skrive det her pgav den var ikke lina bra
                transform: translateX(-2px);
                // //
            }
        }
        // Cards
        .cards{
            width: 100%;
            height: auto;
            margin-top: 38px;
            // Card
            .card{
                border: none;
                background: transparent;
                margin-bottom: 62px;
                &:last-child{
                    margin-bottom: 0;
                }
                img{
                    width: 100%;
                    height: auto;
                    filter: brightness(90%);
                    border-radius: 12px;
                }
                .card-text{
                    margin-top: 10px;
                    padding-left: 1px;
                    h1{
                        font-size: 22px;
                        color: #003A65;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}




// #1 breakpoint
@media only screen and (min-device-width: 1150px)  {
    // Cover
    .cover{
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        height: 100vh;
        min-height: 570px;
        max-height: 600px;
        // Cover image
        .cover-img{
            filter: brightness(45%);
        }
        // Mouse scroll
        .scroll-downs {
            position: absolute;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
            margin: auto;
            display: block;
            width :34px;
            height: 55px;
            z-index: 10000;
            .mousey {
                width: 3px;
                padding: 10px 15px;
                height: 35px;
                border: 2px solid transparent;
                border-radius: 25px;
                opacity: 0.75;
                box-sizing: content-box;
            }
            .scroller {
                width: 3px;
                height: 20px;
                border-radius: 25%;
                background-color: #fff;
                animation-name: scroll;
                animation-duration: 2.2s;
                animation-timing-function: cubic-bezier(.15,.41,.69,.94);
                animation-iteration-count: infinite;
            }
        }
          @keyframes scroll {
            0% { opacity: 0; }
            10% { transform: translateY(0); opacity: 1; }
            100% { transform: translateY(25px); opacity: 0;}
          }
        // Content
        .content{
            padding: 70px 40px;
            padding-bottom: 10px;
            // Text
            .text{
                position: relative;
                text-align: center;
                h1{
                    color: #FAF9F6;
                    font-size: 42px;
                    margin-bottom: 10px;
                }
                p{
                    color: #FAF9F6;
                    font-size: 18px;
                    width: 380px;
                    margin-inline: auto;
                }
            }
            // Cover CTAS
            .cover-actions{
                width: auto;
                height: auto;
                margin-top: 35px;
                position: relative;
                display: flex;
                justify-content: center;
                a{
                    display: block;
                    font-size: 17px;
                    text-decoration: none;
                    transition: .4s;
                    width: 290px;
                    border-radius: 4px;
                    padding: 15px;
                    text-align: center;
                    cursor: pointer;
                    &.primary{
                        background: transparent;
                        color: #FAF9F6 !important;
                        border: 1px solid #FAF9F6;
                        background: rgba(180,180,180,0.2);
                        // When button clicked / hover
                        &:active, &:hover{
                            transform: scale(1.1);
                            background: rgba(180,180,180,0.3);
                        }
                    }
                }
            }
        }
    }

    // Process
    .process{
        margin-top: 105px;
        width: 100%;
        height: auto;
        // Content
        .content{
            padding-inline: 40px;
            // Text
            .text{
                text-align: center;
                .headingp{
                    font-size: 14px;
                }
                h1{
                    color: #003A65;
                    font-size: 39px;
                    font-weight: 400;
                    margin-top: 6px;
                    // M책tte skrive det her pgav det som ble skrevet lengre opp
                    transform: translateX(0);
                    // //
                }
            }
            // Cards
            .cards{
                width: 100%;
                height: auto;
                margin-top: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                // Card
                .card{
                    border: none;
                    background: transparent;
                    margin-inline: 20px;
                    margin-bottom: 0;
                    img{
                        width: 100%;
                        max-width: 380px;
                        height: auto;
                        filter: brightness(90%);
                        border-radius: 12px;
                    }
                    .card-text{
                        margin-top: 10px;
                        padding-left: 1px;
                        h1{
                            font-size: 22px;
                            color: #003A65;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
