// Footer
#footer{
    width: 100%;
    height: auto;
    border-top: 1px solid #00396573;
    .footerbottom{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        .copyright{
            margin-bottom: 0 !important;
            p{
                color: #003A65;
                opacity: 0.8;
                font-size: 13px;
                margin-bottom: 0 !important;
            }
        }
        .social-icons{
            i{
                color: #003A65;
                opacity: 0.8;
                padding: 10px;
                &:last-child{
                    padding-right: 0 !important;
                }
            }
        }
    }
}