// Mobil navigation
#mobileNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    z-index: 10000;
    transition: .2s;
    background: transparent;
    // Logo
    .logo{
        width: max-content;
        h1{
            font-size: 21px;
            color: #003A65;
            span{
                font-size: 14px;
                border-bottom: 1px solid #00396570;
                padding-bottom: 2px;
                margin-left: 4px;
            }
        }
    }
    // Hamburger
    .hamburger{
        padding: 8px;
        margin: -8px;
        span{
            width: 26px;
            height: 2px;
            background: #003A65;
            display: block;
            position: relative;
            margin-block: 8px;
            border-radius: 20px;
            &.center-span{
                width: 16px;
                margin: 8px auto;
            }
            &:first-child{
                margin-top: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}