// Mobil navigation
#mobileNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    z-index: 10000;
    transition: .2s;
    background: transparent;
    // Nav img - bildet på høyre hjørne
    .nav-img{
        position: absolute;
        right: 0;
        top: -10px;
        pointer-events: none !important;
    }
    // Logo
    .logo{
        width: max-content;
        h1{
            font-size: 22px;
            color: #003A65;
            span{
                font-size: 15px;
                border-bottom: 1px solid #00396570;
                padding-bottom: 2px;
                margin-left: 4px;
            }
        }
    }
    // Hamburger
    .hamburger{
        padding: 8px;
        margin: -8px;
        &.active{
            .top-span{
                transform: rotate(45deg);
            }
            .center-span{
                display: none;
            }
            .bottom-span{
                transform: rotate(-45deg);
            }
        }
        span{
            transition: .4s;
            width: 26px;
            height: 2px;
            background: #003A65;
            display: block;
            position: relative;
            border-radius: 20px;
            margin: 8px auto;
            transform-origin: 23%;
            &.center-span{
                width: 16px;
            }
            &:first-child{
                margin-top: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    // Sidebar
    .sidebar{
        opacity: 0;
        position: absolute;
        right: 100%;
        &.active{
            opacity: 1;
        }
    }
}