// Hide the desktop nav on mobile
#desNav{
    display: none;
}
// Mobile navbar
#mobileNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    z-index: 10000;
    transition: 0;
    background: transparent;
    // When you scroll down
    &.sticky{
        background: #e7fdfff6;
        .nav-img{
            opacity: 0;
        }
    }
    // When sidebar is active -- navbar changes background
    &.menu{
        background: #E7FDFF;
    }
    // Nav img - image top right corner
    .nav-img{
        position: absolute;
        right: 0;
        top: -45px;
        pointer-events: none !important;
        opacity: 1;
        transition: .4s;
        &.active{
            opacity: 0;
        }
    }
    // Logo
    .logo{
        width: max-content;
        h1{
            font-size: 23px;
            color: #003A65;
            span{
                font-size: 16px;
                border-bottom: 1px solid #00396570;
                padding-bottom: 2px;
                margin-left: 4px;
            }
        }
    }
    // Hamburger
    .hamburger{
        padding: 8px;
        margin: -8px;
        position: relative;
        z-index: 10000000;
        &.active{
            .top-span{
                transform: rotate(45deg);
            }
            .center-span{
                display: none;
            }
            .bottom-span{
                transform: rotate(-45deg);
            }
        }
        span{
            transition: .4s;
            width: 26px;
            height: 2px;
            background: #003A65;
            display: block;
            position: relative;
            border-radius: 20px;
            margin: 8px auto;
            transform-origin: 23%;
            &.center-span{
                width: 16px;
            }
            &:first-child{
                margin-top: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    // Sidebar
    .sidebar{
        opacity: 0;
        position: absolute;
        top: 65px;
        background: #d5fbff;
        transition: .5s;
        width: 100%;
        height: 100vh;
        z-index: 10000;
        padding: 25px 32px;
        right: -10px;
        pointer-events: none !important;
        // When sidebar is active
        &.active{
            right: 0;
            opacity: 1;
            background: #E7FDFF;
            pointer-events: visible !important;
        }
        // Image at bottom left corner -- sidebar
        .sidebar-img-bottom{
            position: absolute;
            left: 2px;
            bottom: 10px;
            transform: rotate(180deg);
            pointer-events: none !important;
            opacity: 1;
            transition: .2s;
        }
        // Image at bottom left corner -- sidebar
        .sidebar-img-top{
            position: absolute;
            right: 0;
            top: -110px;
            pointer-events: none !important;
            opacity: 1;
            transition: .2s;
        }
        // Links
        .links{
            width: 100%;
            height: max-content;
            // Links inside sidebar
            a{
                display: inline-block;
                color: #003A65;
                padding: 6px;
                padding-left: 0;
                margin-block: 15px;
                font-size: 17px;
                width: 100%;
                text-decoration: none;
                transition: .4s;
                // CTA button
                &.order{
                    background: #003A65;
                    color: #FAF9F6;
                    padding: 8px 18px !important;
                    width: max-content;
                    border-radius: 4px;
                    // When button clicked / hover
                    &:active, &:hover{
                        transform: scale(1.1);
                        background: #054372;
                    }
                }
            }
        }
        // Sidebar socials
        .socials{
            .headingp{
                font-size: 16px;
                color: #003A65;
                opacity: 0.8;
                margin-block: 10px 8px;
            }
            i{
                color: #003A65;
                font-size: 22px;
                padding: 11px;
                &.first{
                    padding-left: 0;
                }
            }
        }
        // Call us
        .call-us{
            .headingp{
                font-size: 16px;
                color: #003A65;
                opacity: 0.8;
                margin-block: 10px 8px;
            }
            a{
                color: #003A65;
                opacity: 0.5;
                text-decoration: underline;
            }
        }
    }
}

// #1 breakpoint
@media only screen and (min-device-width: 1150px)  {
    // Hide mobile nav on desktop
    #mobileNav{
        display: none;
    }
    // Desktop navbar
    #desNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10000;
        transition: 0;
        background: transparent;
        padding: 20px 40px;
        background: rgba(250,250,250,0.05);
        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 75px;
            background: #e7fdfff1;
            left: 0;
            top: -20px;
            opacity: 0;
            transition: .4s;
        }
        &.sticky{
            &::before{
                top: 0;
                opacity: 1;
            }
            .menu{
                a{
                    color: #003A65;
                }
            }
            .logo{
                h1{
                    color: #003A65 !important;
                }
            }
        }
        // Logo
        .logo{
            z-index: 1000;
            width: max-content;
            cursor: pointer;
            h1{
                font-size: 23px;
                color: #FAF9F6;
                transition: .3s;
                span{
                    font-size: 16px;
                    border-bottom: 1px solid #bebebe70;
                    padding-bottom: 2px;
                    margin-left: 4px;
                }
                // When logo hovers
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
        // Menu
        .menu{
            // Links
            a{
                padding-inline: 10px;
                margin-inline: 5px;
                color: #FAF9F6;
                font-size: 17px;
                opacity: 0.9;
                cursor: pointer;
                transition: .4s;
                padding-bottom: 5px;
                text-decoration: none;
                border-bottom: 2px solid transparent;
                // CTA button
                &.order{
                    background: #003A65;
                    padding: 10px 20px;
                    color: #FAF9F6;
                    border-radius: 4px;
                    transition: .2s;
                    // When button clicked / hover
                    &:active, &:hover{
                        transform: scale(1.1);
                        background: #075189;
                    }
                }
                // When links get hovered
                &:hover{
                    border-bottom: 2px solid #003A65;
                }
            }
        }
    }
}
