{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">

<!-- Cover -->
<div class="cover">
  <!-- Content -->
  <div class="content">
    <!-- Text -->
    <div class="text">
      <h1>Beste måten å få nett på hytta</h1>
      <p class="paragraph">Sammen med våres samarbeidere, garanterer vi nett på hytta som du aldri har sett før</p>
    </div>
    <!-- Cover CTAS -->
    <div class="cover-actions">
      <a class="primary">Om oss</a>
      <a class="secondary">Kom i gang</a>
    </div>
    <!-- Cover image -->
    <img src="{% static 'images/covers/cover.jpg' %}" alt="" class="cover-img">
  </div>
</div>

<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
{% endblock %}