{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/forms/form.css' %}" type="text/css">

<!-- Mob cover -->
<div class="cover">
  <!-- Mouse scroll -->
  <div class="scroll-downs">
    <div class="mousey">
      <div class="scroller"></div>
    </div>
  </div>
  <!-- Cover image -->
  <img src="{% static 'images/covers/cover.jpg' %}" alt="" class="cover-img">
  <!-- Content -->
  <div class="content">
    <!-- Text -->
    <div class="text">
      <h1>Internett på hytta</h1>
      <p class="paragraph">Med trådløst bredbånd får du et raskt og stabilt nett med fri databruk</p>
    </div>
    <!-- Cover CTAS -->
    <div class="cover-actions">
      <a class="primary">Om oss</a>
    </div>
  </div>
</div>

<!-- Process -->
<div class="process">
  <!-- Content -->
  <div class="content">
    <!-- Text -->
    <div class="text">
      <p class="headingp">Prossesen</p>
      <h1>Slik fungerer det</h1>
    </div>
    <!-- Cards -->
    <div class="cards">
      <!-- Card 1 -->
      <div class="card">
        <!-- Image -->
        <img src="{% static 'images/other/process1.jpg' %}" alt="">
        <!-- Card text -->
        <div class="card-text">
          <h1>Ta konkakt</h1>
          <p class="paragraph">Fyll ut kontaktskjema her, så vil en av våre eksperter hjelpe deg med å finne den beste løsningen for deg og din hytte</p>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="card">
        <!-- Image -->
        <img src="{% static 'images/other/process2.jpg' %}" alt="">
        <!-- Card text -->
        <div class="card-text">
          <h1>Vi finner den beste løsningen</h1>
          <p class="paragraph">Det finnes mange tilbydere av trådløst bredbånd. Vi finner den beste løsningen og sender deg et uforpliktende tilbud</p>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="card">
        <!-- Image -->
        <img src="{% static 'images/other/process3.jpg' %}" alt="">
        <!-- Card text -->
        <div class="card-text">
          <h1>Alt er klart!</h1>
          <p class="paragraph">Vi tas oss av bestillingen, deretter blir du kontaket av en montør for å avtale tidspunkt for installasjon. Så enkelt er det!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact -->
<div class="contact-us page-for-form">
  <form id="contactUs" action="" method="POST">
    <p class="headingp">Kontakt oss</p>
     <h1 class="heading">Vi er her 24/7</h1>
      {% csrf_token %}
      <br>
      <div class="inputs-labels">
         <input placeholder="Din navn" type="text" name="navn" required oninvalid="this.setCustomValidity('Værsåsnill, skriv inn navn')" oninput="this.setCustomValidity('')">
         <br>
         <br>
         <br>
         <input placeholder="Din epost" type="email" name="email" required oninvalid="this.setCustomValidity('Værsåsnill, skirv inn epost')" oninput="this.setCustomValidity('')">
         <br>
         <br>
         <br>
         <textarea placeholder="Hvordan kan vi hjelpe deg" name="message" required oninvalid="this.setCustomValidity('Værsåsnill, skriv inn beskjed')" oninput="this.setCustomValidity('')"></textarea>
        </div>
      <div class="form-actions">
        <button type="submit" name="contact" value="contact">Send epost</button>
      </div>
    </form>
 </div>


<br>
<br>
{% endblock %}